*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

/* Custom styles for background*/
.container {
  width: 100%;
  height: 100vh;
  background-image: url(./images/inggrid-koe-kbKEuU-YEIw-unsplash.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Custom styles for the profile card*/
.card{
  width: 400px;
  height: 550px;
  color: #fff;
  text-align: center;
  padding: 50px 35px;
  border: 1px solid rgba(255,255,255,0.3);
  background: rgba(255,255,255,0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  backdrop-filter: blur(5px);
}

/* Custom styles for the profile image */
.card img {
  width: 300px;
  height: 250px;
  border-radius: 10%;
  object-fit: cover;
}

/* Animation during the start of the page for the text*/
@keyframes text-simple-animation-rev {
  0% {
      background-size: 650%;
  }
  40% {
      background-size: 650%;
  }
  100% {
      background-size: 100%;
  }
}

/* Text animation */
@keyframes text-simple-animation {
  0% {
      background-size: 100%;
  }
  80% {
      background-size: 650%;
  }
  100% {
      background-size: 650%;
  }
}

/* Gradient style animation */
/* 
@keyframes animationgradienttitle {
  0% { background-position: 0 1600px;
    } 100% {
      background-position: 1600px 0;
    }
} */


/* Custom styles for the text*/
.card h2{
  font-family: "Scope One", sans-serif;
  font-weight: normal;
  font-size: 3em;
  text-align: center;
  display: block;
  cursor: pointer;

  /* Fallback: Set a background color. */
  /* background-color: #CA4246; */

    background-color: #D3D3D3;

  /* Customizing the gradient colors for the text */
   background-image: linear-gradient(
        45deg,

      /* rainbow-gradient colors */
        /* #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%); */

      /* Gradient color for the text. */
        #2F4F4F 17.3999%,
        #fff 16.666%,
        #A9A9A9 33.333%,
        #A9A9A9 33.333%,
        #fff 50%,
        #fff 50%,
        #fff 66.666%,
        #A9A9A9 66.666%,
        #fff 83.666%,
        #fff 83.333%);
  
  /* Setting the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
  /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: text-simple-animation-rev 0.75s ease forwards;



/* gradient style customization*/
  /* font-size: 2.5em;
  color: #f5af19;
  background: -webkit-linear-gradient(left, #f5af19, #f12711 , #f5af19);
  background-size: 1600px 200px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 5s;
  animation-name: animationgradienttitle;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards; */


/* Normal plain text style */
  /* font-size: 40px;
  font-weight: 500;
  margin-top: 5px; */
}


/* Hover effects for the text element*/
.card h2:hover{
  animation: text-simple-animation 0.5s ease-in forwards;
}

/* Styles for the text(second half)*/
.card h2 span{
  font-size: 20px;
  margin: 5px auto;
  max-width: 100px;
  color: #7FFFD4;
}

/* 
.card .links {
  background: transparent;
  border: none;
} */


/* Styles for the social icons */
.card .links img{
  width: 40px;
  height: 40px;
  border: none;
  margin: 10px 5px;
  transition: background 0.5s;  
}

/* Animation for the social icons*/
.card .links img:hover, 
.card .links img:focus {
  color: #000;
  box-shadow: 0 0.7em 0.5em -0.4em;
  transform: translateY(-0.35em);
}

